* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
  width: auto;
  text-align: center;
}

body {
  background-color: black;
  color: white;
  overflow: hidden;
}

.dark-mode {
  background-color: white;
  color: black;
}

#container {
  display: flex;
  gap: 30px;
  justify-content: center;
  background-color: #030f29;
  height: 37px;
  text-align: center;
}

.anchor {
  text-decoration: none;
  color: #ebfee9;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p {
  font-size: larger;
}




.tasksDiv {
  position: relative;
  left: 280px;
}

.completedDiv {
  position: relative;
  left: 280px;
}

.title {
  display: flex;
  position: relative;
  right: 300px;
  color: white;
}

.mode {
  text-decoration: none;
  color: #ebfee9;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  left: 300px;
}

.pendingList {
  text-decoration: none;
  color: orangered;
  font-size: larger;
}

.completedList {
  text-decoration: none;
  color: green;
  font-size: larger;
}

.greeting {
  position: relative;
  color: grey;
  bottom: 380px;
  left: 300px;
}

.secondGreeting {
  position: relative;
  color: grey;
  bottom: 360px;
  left: 300px;
}

.image {
  position: relative;
  right: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 400px;
  background-position: left;
}

.usernameInput {
  position: relative;
  bottom: 370px;
left: 700px;
  background-color: #d9d9d9;
  font-size: large;
}

.registerInput {
  position: relative;
  bottom: 310px;
  left: 300px;
  background-color: #d9d9d9;
  font-size: large;
}

.rpasswordInput {
  position: relative;
  bottom: 250px;
  right: 100px;
  background-color: #d9d9d9;
  font-size: large;
}

.registerButton {
  position: relative;
  bottom: 230px;
  height: 35px;
  width: 400px;
  left: 300px;
  background-color: #d0f2e9;
}

.header2 {
  position: relative;
  bottom: 220px;
  left: 300px;
  font-size: larger;
}

.loginAnchor {
  text-decoration: none;
  position: relative;
  left: 10px;
  font-size: larger;
}

.loginInput {
  position: relative;
  bottom: 350px;
  left: 500px;
  background-color: #d9d9d9;
  font-size: large;
}

.passwordInput {
  position: relative;
  bottom: 290px;
  left: 100px;
  background-color: #d9d9d9;
  font-size: large;
}

.loginButton {
  position: relative;
  bottom: 270px;
  height: 35px;
  width: 400px;
  left: 300px;
  background-color: #d0f2e9;
}

.logout {
  text-decoration: none;
  position: relative;
  left: 165px;

  color: #ebfee9;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  height: 40px;
  width: 400px;
  position: static;
}

.inputDate {
  position: static;
}

.addButton {
  padding-top: 11.9px;

  height: 40px;
  width: 50px;
  background-color: rgb(18, 15, 185);
  position: static;
  margin-left: 20px;
}

.deleteButton {
  height: 25px;
  width: 30px;
  background-color: red;
  margin-left: 20px;
}

.updateButton {
  height: 25px;
  width: 35px;
  background-color: blue;
  margin-left: 20px;
}

.completedButton {
  height: 25px;
  width: 35px;
  background-color: #13e82f;
  margin-left: 20px;
}

.divContainer {
  position: relative;
  top: 80px;
}

.inputButtonDiv {
  position: relative;
  top: 80px;
}

.listItem {
  padding-top: 20px;
}

.copy {
  background-color: #a8a8a8;
  color: #030f29;
  position: relative;
  bottom: 500px;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

@media all and (max-width: 500px) {
  #container {
    display: flex;
    gap: 30px;
    justify-content: end;
    background-color: #030f29;
    height: 35px;
  }
}

@media (orientation: portrait) {
  input {
    font-size: larger;
  }

  .listItem {
    font-size: larger;
  }

  .inputDate {
    font-size: larger;
  }

  .addButton {
    font-size: larger;
  }

  .deleteButton {
    height: 40px;
    width: 100px;
    background-color: red;
  }

  .updateButton {
    height: 40px;
    width: 100px;
    background-color: blue;
  }

  .completedButton {
    height: 40px;
    width: 100px;
    background-color: green;
  }
}
