* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: auto;
        width: auto;
        text-align: center;
      
      }




#container {

    display: flex;
    gap: 30px;
justify-content: end;
background-color: #030F29;
height: 30px;



}

 .anchor {

    text-decoration: none;
    color: #EBFEE9;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.completed {

    position: relative;
    right:10px;
}

input {
   height: 40px;
    width: 400px;
 position: static;
}

.inputDate {

    position: static;

}


.addbutton {

    height: 40px;
    width: 100px;
    background-color: gray;
    position: static;


}


.deletebutton {

    height: 40px;
    width: 100px;
    background-color: red;

}

.updatebutton {

    height: 40px;
    width: 100px;
    background-color: blue;
}


.completedbutton {

    height: 40px;
    width: 100px;
    background-color: green;
}



.divContainer {

    position:relative;
    top: 80px;

}




